:root {
  --theme-primary-font-family: "Archivo", sans-serif;
  --theme-border-color: #ccc;
  --theme-white-background-color: #fff;
  --theme-black-text-color: #000;
  --theme-orange-border-color: #fbab2a;
  --theme-orange-text-color: #fbab2a;
  --theme-orange-background-color: #fbab2a;
  --theme-black-100: #180a32;
  --theme-black-200: #222;
  --theme-white-text-color: #fff;
  --theme-light-purple-background-color: #bb98fd;
  --theme-light-purple-border-color: #bb98fd;
  --theme-white-border-color: #fff;
  --theme-light-gray-color: #777;

  --theme-rounded-full: 999px;
  --theme-status-available-background-color: #0e883d;
  --theme-status-pending-background-color: #f9a825;
  --theme-status-sold-background-color: #d32f2f;
}
